@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}


body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 260px;
  height: 440px;
 /* margin: auto; */
 background-color: var(--white);
 border-radius: 20PX;
 margin-top: 90px;
 /* margin: 20px; */
  
}

.container img {
  max-width: 100%x;
  height: 260px;
  border-radius: 25px;
  padding: 14px;
}

.container h2 {
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 16px;
}

.container p {
  color: var(--grayish-blue);
  text-align: center;
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 510px;
  width: 200px;
  height: 200px;
  position: relative;
  left: 43%;
  
}

.attribution a {
  color: hsl(228, 45%, 44%);
  align-items: center;
  text-align: center;
}



@media (max-width: 480px) {
  .container {
    width: 350px;
    height: 500px;
    margin-top: 90px;

    
  }
  .container img{
    width: 100%;
    height: 60%;
  }
  .container h2{
    padding: 20px;
  }
  .container p{
    /* padding: 10px; */
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
  }
}

